.CalendarForm{
    min-height: 100vh;
    display: grid;
    font-weight: 400px;
    font-family: sans-serif;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

#EditJustRigthData{
background: none;
border: none;
color: black;
}

.cssRowConsults{
  display: flex;
  align-items: center;
  
}

#ButtonFormUpdateDatasConsults{
 margin-top: 12px;

}
#CloseFormUpdateDataConsults{
  background: none;
  border: none;
  color: black;
}
#TitleFormUpdateDatasConsults{
  font-weight: 600;
  font-size: 19px;
}
#FormUpdateDatasConsults{
  margin-bottom: 25px;
  display: none;
}

#EditButtonConsults{
  display: flex;
  font-size: 19px;
  margin-right: 20px;
  background: none;
  border: none;
  color: black;
}

.ConsultsOnThisDay{
width: 450px;
} 

#BackButton{
  margin-right: 10px;
}
.NAVLINK{
  margin: 0px 15px;
}

.react-calendar{
    margin-left: 150px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    border-radius: 9px;
}

.ReciveDays{
font-size: 15px;
font-weight: 900px;
display: flex;
flex-direction: column;
margin-left: 65px;
margin-top: 25px;
}

.Content{
  margin-top: 70px;
  display: flex ;
  flex-direction: row;

}
.Calendar{
  margin-top: 50px;
}
#FORMX{
  display: none;
}
#FirtButton{
margin-top: 10px;
}
.Calendar{
  margin-right: 150px;
}
.FormPOST{
  width: 600px;
  margin-top: 50px;
}
.SomeConsult{
display: none;
}

#TituloRecivD{
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}

.AllConsultsOnDay{
  background-color: aliceblue;
  padding: 8px;
  border-radius: 9px;
  border: solid;
}