.ROADForm{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

.ReciveDays{
    margin-left: 100px;
}

.ContentROAD{
    margin-top: 100px;
}
#FormOperations{
    margin-left: 30px;
    display: none;
}
#RegisterButtons{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#FormDentist{
    margin-left: 30px;
    display: none;
}
.ButtonInd{
    margin: 0px 10px;
    margin-bottom: 50px;
}